.problemContainer{

display:flex;

gap:18px;

margin-top:60px;

flex-wrap:wrap;

justify-content:center;

}

.problemCard{

padding:18px 30px;

background:white;

border-radius:18px;

font-weight:600;

cursor:pointer;

box-shadow:0 12px 30px rgba(0,0,0,.06);

transition:.3s;

}

.problemCard:hover{

transform:translateY(-6px);

background:#F2FFF8;

}